@mixin btnbase {
    --iconsize:20px;
    display:flex;
    align-items: center;
    font-weight:var(--fontweight-wide);
    font-size:0.75rem;
    height:34px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:0;
    width:38px;
    font-weight: 600;
    border:1px solid var(--col-line);
    
    outline:2px solid transparent;
    outline-offset: 1px;

    &:hover {
        background-color:var(--col-accent);
        cursor: pointer;
    }

    &-lbl {
        display: block;
        line-height: var(--component-fontsize);
    }

    &-icon {
        fill:#fff;
        width:var(--iconsize);
        height:var(--iconsize);
        order:-1;
    }

} 

@mixin selectbox {
    @include btnbase;
    line-height: 1rem;
    width:auto;
    text-align: center;
    width:140px;

}

@mixin filterswitch {
    display:flex;
    align-items: center;
    width:fit-content;
    gap:calc(var(--layout-gap) * 1);
    background-color:transparent;
    font-family: var(--font-wide);
    font-weight: 600;
    font-size:0.75rem;
    padding:0px 12px;
    
    border-left:1px solid var(--col-line);

    &:first-child {
        border-left:none;
    }

    &:last-child {
        border-right:none;
        margin-left: auto;
    }


    &__lbl {
        font-family: var(--font-wide);
        font-weight: 600;
        font-size:0.75rem;
        text-transform: uppercase;
    }

    &__actions {
        display: flex;
        align-items: center;
        

    }

    &__keybtn {
        @include btnbase;
        &:not(:last-child) {
            border-right:none;
        }

        &:hover {
            background-color:var( --col-accent);
        }

        &.active {
            background-color: var( --col-accent);

        }

    }

    &__select {
        @include selectbox;
    }

}

.radio-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .radio-container * {
    box-sizing: border-box;
  }
  .radio-input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #cccfdb;
    margin: 0;
    border-radius: 6px;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  .radio-input::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s transform ease-in-out;
    box-shadow: inset 6px 6px #ffffff;
  }
  .radio-input:checked {
    background: var(--col-accent);
    border-color: var(--col-accent);
  }
  .radio-input:checked::before {
    transform: scale(1);
  }
  .radio {
    cursor: pointer;
    padding: 6px 8px;
  }
  .radio:not(:last-child) {
    margin-right: 6px;
  }

