.guitar {
    $self:&;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    
    width:100%;

    &__nut {
        border-right:5px solid var(--col-guitar-nut);
        height:100%;
        display: grid;
        align-items: center;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__nutnote {
            width:56px;// var up
            height:56px; // var up
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 0px;
            font-weight: var(--fontweight-megabold);
            font-size: 1.125rem;
            font-family: var(--font-wide);

        
    }

    &__fretboard {
        width:100%;
        height:100%;
        align-items: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__fretmarkers {
        grid-column: -1/1;
        margin-left:61px; 
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    &__fretmarker {
        display: flex;
        align-items: center;
        justify-content: center;
        height:60px;
        font-weight: var(--fontweight-megabold);
        font-family: var(--font-wide);
        font-size: 1rem;
    }

    &__string { 
        width:100%;
        height:100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
        

        &:before {
            content: "";
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--col-guitar-string);
            top: 50%;
        }


        #{$self}__fret {
            width:100%;
            height:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right:3px solid var(--col-guitar-fret);
            position: relative;
        }



        #{$self}__note {
            outline: 6px solid var(--col-bodybgcol);
            border: 2px solid var(--col-guitar-note-border);
            font-weight: var(--fontweight-megabold);
            background-color: var(--col-bodybgcol);
            cursor: pointer;
            border-radius: 18px;
            justify-content: center;
            align-items: center;
            width: 42px;
            height: 42px;
            font-size: 0.9rem;
            display: flex;

            &--flat {
                display: none;
            }

            &:hover {
                border-color:#fff;
            }

            &--active {
                background-color: var(--col-note-accent);
                border-color: var(--col-note-accent);
            
                &:hover {
                    border-color: var(--col-note-accent);
                }

            }

            &--matchinghover {
                //border-color:#E4D00A !important;
                outline:2px solid #E4D00A !important;
                outline-offset: 2px;
            }


            
            &--sharpflat {
                // font-size: 0.75rem;
               
                

            }

            &--root {
                border-color: var(--col-note-root);
                outline: 2px solid var(--col-note-root);
                outline-offset: 2px;

                &:hover {
                    border-color: var(--col-note-root) !important;
                }
            }

        }

    }

    &.showflats {

        .guitar__note--sharp {
            display: none;
        }

        .guitar__note--flat {
            display: flex;
        }

    }


    &.showscalenotesonly {
        #{$self}__note {
            opacity: 0;
            pointer-events: none;

            &--active {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

}

.triadwrap {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:26px;
}

.triad {

    --fretHeight:28px;
    --fretWidth:28px;
    --stringWidth:4px;
    --nutHeight:4px;
    --triadGap:4px;

    --offset:calc((var(--fretWidth) / 2 ) - (var(--stringWidth) / 2));

    $self:&;

    display: flex;
    gap:var(--triadGap);
    flex-direction: column;
    align-items: center;
    text-align: center;
    

    &__name {
        font-weight: var(--fontweight-megabold);
        font-family: var(--font-wide);
        font-size:1.5rem;
    }

    &__notes {
        display: flex;
        gap:2px;
        #{$self}__note {
            width:34px;
            height:26px;
            font-size:0.8rem;
            font-family: var(--font-wide);
            font-weight: var(--fontweight-megabold);
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-of-type {
                border-radius: 4px 0px 0px 4px;
            }

            &:last-of-type {
                border-radius: 0px 4px 4px 0px;
            }

            &--root { background-color: var(--triadroot); }
            &--second { background-color: var(--triadsecond); }
            &--third { background-color: var(--triadthird); }

        }

    }

    &__fretboard {
        width:100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        
        &:before {
            content:'';
            position:absolute;
            top:calc(   var(--fretHeight))  ;
            left:var(--offset);
            height:var(--nutHeight); 
            width:calc(100% - (var(--offset) * 2) );
            background-color: var(--triadNutCol);
            z-index: 2;
        }

    }

    &__string {
        position: relative;
        display: flex;
        flex-direction: column;
        height:100%;
        
        &:first-of-type {

            & .triad__fret {
                &:after { 
                    right:0;
                    left:initial;
                    width: 16px;
                }
            }

        }

        &:last-of-type {

            & .triad__fret {
                &:after { 
                    left:0;
                    width: 16px;
                }
            }

        }

        &:before {
            content:'';
            position:absolute;
            top:calc( var(--fretHeight) + var(--nutHeight) );
            height:calc(100% - (var(--fretHeight) + var(--nutHeight)));
            width:var(--stringWidth);
            background-color: var(--triadStingCol);
            left:calc(50% - (var(--stringWidth) / 2));
            z-index: 1;
        }
        
    }

    &__fretmarker {
        position: absolute;
        left:-10px;
        font-size:0.75rem;
        font-weight: var(--fontweight-megabold);
        opacity: 0.5;
    }

    &__fret {
        height:var(--fretHeight);
        width:var(--fretWidth);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        
        &:after {
            content:'';
            width:100%;
            height:1px;
            background-color: var(--col-guitar-fret);
            position:absolute;
            bottom:0;
            left:0;
            opacity: 0.5;
        }


        &--nut {
            &:after {
                display: none;
            }
        }

        &.active {
            &:before {
                content:'';
                width:calc(var(--fretWidth) * 0.65);
                height:calc(var(--fretHeight) * 0.65);
                border-radius: 6px;

            }
        }

        &.active--root {
            &:before { 
                background-color: var(--triadroot); 
            }
            
        }

        &.active--second {
            &:before { 
                background-color: var(--triadsecond); 
            }
            
        }

        &.active--third {
            &:before { 
                background-color: var(--triadthird); 
            }
           
        }

    }

}