

body.authentication--in {
    .superscale {
        display: grid;
    }

    .superscalelogin {
        display: none;
    }

}

body.authentication--out {
    .superscale {
        display: none;
    }

    .superscalelogin {
        display: flex;
    }
}

.superscale {
    grid-template-rows: var(--layout-nav-height) 1fr;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;

    &__headlink {
            height: 100%;
    display: flex
;
    align-items: center;
    }

    &__head {
        display: flex;
        align-items: center;
        padding:0px 8px;
        grid-column: -1 / 1;
        border-bottom:1px solid var(--col-line);
        justify-content: space-between;

        &-logo {
            height:75%;
        }
    }

    &__betabadge {
        margin-right:auto;
        margin-left:6px;
        margin-bottom: auto;
        margin-top:8px;
        padding:2px 6px;
        background-color:var(--col-comingsoon);
        font-size:0.5rem;
        font-weight: 600;
        font-family: var(--font-wide);
    }

    &__userdetails {
        display:flex;
        gap:10px;
        align-items: center;
        background-color:transparent;
        border:1px solid var(--col-line);
        border-radius: 6px;
        height:38px;
        padding:0px 0px 0px 10px;

        &-name {
            font-size:0.75rem;
            font-weight: var(--fontweight-bold);
            color: var(--col-txt);
        }

        &-logout {
            background-color:transparent;
            cursor: pointer;
            display:flex;
            align-items: center;
            height:100%;
            
            padding:0px 10px 0px 14px;
            border-left:1px solid var(--col-line);
            
        &:hover {
            background-color: var(--col-2);
        }

        }

        &-logouticon {
            width:20px;
            height:20px;
            fill:rgba(255 255 255 / 80%);
        }
    }

    &__menbtn {
        height:38px;
        background-color:transparent;
        border:1px solid var(--col-line);
        border-radius: 6px;
        padding:0px 12px;
        display: flex;
        align-items: center;
        margin-left:10px;
        cursor: pointer;

        &:hover {
            background-color: var(--col-2);
        }
    }

    &__menubtnicon {
        width:20px;
        height:20px;
        fill:rgba(255 255 255 / 80%);
        pointer-events: none;
    }

    &__sidebar {

        width: var(--layout-sidebar-width);
        border-right: 1px solid var(--col-line);
        align-items: center;
        display: flex;
        flex-direction: column;
        padding:0px 0px 0px 0px;

        &-divider {
            background-color: var(--col-line);
            width: 100%;
            height: 1px;
            margin: 6px 0;
            margin-top: auto;
        }

    }

    &__subnav {

        height:var(--layout-subnav-height);
        display: flex;
        flex-shrink: 0;
        width:100%;
        border-bottom: 1px solid var(--col-line);

        &--bottom {
            bottom:0;
            top:initial;
            border-top: 1px solid var(--col-line);
            border-bottom: none;
        }

    }

    &__mainwrap {
        display: grid;
        grid-template-rows: 1fr var(--layout-footer-height);
        position: relative;
    }

    &__main {
        border-bottom:1px solid var(--col-line);
        padding: 0px 0px 0px 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 8px;

        &-link {

            display: flex;
            align-items: center;
            gap:10px;

        }

        &-lbl {
            font-size:0.625rem;
            font-family: var(--font-regular);
            text-decoration: underline;
            text-underline-offset: 2px;

            &:hover {
                color:var(--sslogo-color2);
            }

            &:active {
                text-underline-offset: 1px;
            }

        }

    }

}

.guitar {
    padding:0px 14px 0px 0px;
}

.guitarwrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    gap:20px;
    height:100%;
    max-width:1920px;
    border-bottom:1px solid var(--col-line);
    position:relative;
}

.scaleinfo {
    display:flex;
    flex-direction: column;
    align-items: center;

    &__name {
        font-family: var(--font-wide);
        font-weight: var(--fontweight-megabold);
        font-size:2rem;
        text-transform: capitalize;
    }

    &__notes {
        font-family: var(--font-wide);
        font-weight: var(--fontweight-megabold);
        font-size:1.25rem;
        display: flex;
        align-items: center;
        gap:10px;
    }

    &__note {
        padding:2px 6px;
        &--root {
            
            border-radius: 2px;
            //background-color: var(--triadroot);
        }
    }

}

.noticebanner {
text-align: center;
    background-color: #dc7a144d;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: .75rem;
    display: flex
;
    position: absolute;
    top: 50px;
}

.sidebtn {
    $self:&;
    cursor: pointer;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    display: flex;
    transition:all linear 0.05s;
    position: relative;


    &__icon {   

    fill: #fff;
    opacity: 0.6;
    border-radius: 6px;
    width: 26px;
    height: 26px;

    
    }

    &:hover {
                    #{$self}__icon { 
                opacity: 1;
            }
    }

    &:active {
        #{$self}__icon {
            transform:translateY(1px);
        }
    }

    &--pushtop {
        margin-top: auto;
    }

    &[aria-disabled="true"] {
        opacity: 0.2;
    }

    &--disabled {
        cursor: initial;
        opacity: 0.2;
    }

    &--selected {
        #{$self}__icon {
            opacity: 1;
        }

        &:hover {
            
            #{$self}__icon { 
                opacity: 1;
            }
        }

    }

}

