.tooltip {
    display: none;
    background: var(--col-bodybgcol);
    color: #fff;
    font-weight: var(--fontweight-bold);
    padding: 8px 10px;
    border-radius: 4px;
    font-size: .8rem;
    border:1px solid rgba(255 255 255 / 50%);
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  will-change: transform;
}  