:root {
    --var:#fff;
    --layout-nav-height:100px;
    --layout-footer-height:40px;

    --col-1:#0B111C;
    --col-2:#121825;
    --col-3:#2A303B;
    --col-accent:#7A5CFF;
    --col-note-accent:#F6935D;
    --col-txt:#fff;
    --col-guitar-string:#5A5D67;
    --col-guitar-fret:#B8BCBE;
    --col-guitar-nut:#fff;
}