:root {

    --global-fontsize:0.875rem;
    --global-letterspacing:0.04rem;

    --var:#fff;
    --layout-nav-height:100px;
    --layout-footer-height:40px;
    --layout-pagewidth:1400px;
    --layout-gap:8px;

    --layout-guitargrid-top:84px;
    --layout-guitargrid-bottom:var(--layout-guitargrid-top);
    --layout-guitargrid-middle:1fr;

    --fontweight-light:600;
    --fontweight-regular:700;
    --fontweight-bold:900;
    --fontweight-megabold:900;

    --component-fontsize:0.875rem;
    --component-buttonheight:40px;
    --component-filterheight:60px;

    --col-1:#1C2125;
    --col-2:#1C2125;
    --col-3:#292F3A;
    --col-3--hover:#3a414f;
    --col-accent:#7A5CFF;
    --col-note-accent:#F61A5D;
    --col-note-root:orange;
    --col-txt:#fff;
    --col-guitar-string:#5A5D67;
    --col-guitar-fret:#B8BCBE;
    --col-guitar-note-border:var(--col-guitar-fret);
    --col-guitar-nut:#fff;
    --col-comingsoon:#d14e7f;

}