@import url(/src/scss/partials/vars.scss);
@import url(/src/scss/partials/reset.scss);
@import url(/src/scss/partials/components.scss);
 
// Build the layout
@import url(/src/scss/partials/nav.scss);
@import url(/src/scss/partials/layout.scss); 
@import url(/src/scss/partials/body.scss);
@import url(/src/scss/partials/guitar.scss);

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,300&display=swap');
 
body {
    color:var(--col-txt);
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    letter-spacing: 0.04rem;
}

